doctype html
html
  head
    block title
      title Default
    block style
      link(href="/admin/resources/bower_components/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
  body
    .container
      nav.navbar.navbar-default(role='navigation')
        a.navbar-brand(href='/admin') Ghost
        ul.nav.navbar-nav
          li(class=link === "default" ? 'active': "", id=link)
            a(href='/admin') Default
          li(class=link === "post" ? 'active': "")
            a(href='/admin/posts') Post

      block content
        h1 Default

    block script
